@{
    ViewBag.Title = "Contacto";
    ViewBag.Message = "";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Holistor Software + Servicios<br />
    Cerrito 1641,Rosario, Santa Fe, Argentina<br />
    <abbr title="Teléfono">P:</abbr>
    +54(0341)485-2866
</address>

<address>
    <strong>Soporte:</strong>   <a href="mailto:jalomar@holistor.com.ar">jalomar@holistor.com.ar</a><br />
    <!--<strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>-->
</address>